.todo {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  background-color: rgba(245, 245, 245, 0.87);
  border-radius: 5px;
  margin-top: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.todo.completed {
  background-color: #93e293;
}
.todo.uncompleted {
  background-color: rgb(248, 205, 205);
}
.todo.uncompleted .todo__action:hover {
  background-color: rgb(228, 188, 188);
}

.todo.completed .todo__action:hover {
  background-color: #8bd68b;
}
.todo__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.todo__title {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
}
.todo__title input {
  margin-top: 10px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  accent-color: green;
}
.todo__description {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
.todo__actions {
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
}
.todo__action {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 10px;
  margin-left: 10px;
  border-radius: 50%;
  cursor: pointer;
  background-color: transparent;
}
.todo__action:hover {
  background-color: rgb(219, 219, 219);
}
.todo__action span {
  font-size: 20px;
}
